@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: 'Rubik', sans-serif;
}

.Menu-bar{

}

.login{
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.64);
}

.left-aside{
  background: rgba(238, 174, 202, 0.645);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(255,109,0,0.7370892018779343) 100%);

}

.spinner{
  /* animation: name duration timing-function delay iteration-count direction fill-mode; */
  animation-name: rotate;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-delay: 0;
  animation-iteration-count: infinite;
  
}
#spinner{
  /* animation: name duration timing-function delay iteration-count direction fill-mode; */
  animation-name: rotate;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-delay: 0;
  animation-iteration-count: infinite;
  display: inline-block;
  
  
}

.links > li{
  height: 43px;
  overflow: hidden;
  transition: all 1s;
  margin-bottom: .6rem;
}

.expand-height{
  height: auto !important;
  transition: all 1s;
  background-color: rgba(250, 235, 215, 0.322) !important;
}

.links > li:hover{
  background: rgba(238, 174, 202, 0.645);
  /* background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(255,109,0,0.7370892018779343) 100%); */
}




@keyframes rotate {
  100%{
    transform: rotate(360deg)
  }
}

.savings-grid{
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 5px;
}

.balance-grid{
  grid-template-columns: repeat(auto-fit, 190px);
  gap: 10px;
}
.cat-grid-art{
  
  grid-template-columns: repeat(auto-fit, 40%);
  gap: 1rem;
}
.bg-balance-monthly{
  background: rgb(255,96,0);

}

.bg-highest-expense{
  background: rgb(174,201,149);
  background: linear-gradient(323deg, rgba(174,201,149,1) 0%, rgba(255,116,0,1) 100%);
}

.overall-per-category{
  
  background: rgb(25,22,15);
  background: linear-gradient(323deg, rgba(25,22,15,0.771889400921659) 0%, rgba(255,71,0,0.8225806451612903) 100%);
}

.notes{
  display: none;
}

.last{
  background: rgb(69,69,69);
  background: linear-gradient(131deg, rgba(69,69,69,1) 0%, rgba(148,141,141,1) 80%, rgba(255,230,199,1) 100%);
}
.logoImg{
  object-fit: contain;
}

.btn-shadow{
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.272);
  transition: all 0.5s;
}


.overflow-edit::-webkit-scrollbar-thumb{
  display: none;
  
}

.overflow-edit::-webkit-scrollbar {
  width: 20px;
}

.btn-trn{
  transform: translateX(100%);
  transition: all .5s;
}

.expense-child a{
  font-size:.7rem ;
  font-weight: 300;
}

.expense-child a:hover{
  text-decoration: underline;
}


@media all and (max-width:1124px){
/* 
  .balance-grid{
    width: 100%;
    grid-template-columns: repeat(auto-fit, 190px);
    gap: 12px;
  } 

   */
}

@media all and (max-width:700px) {
  .balance-grid{
    grid-template-columns: repeat(auto-fit, 48%);
    gap: 12px;
  }
  
  .note-parent:hover .notes{
    display:block;
    position: absolute;
    left: -11rem;
    top: -2rem;
    height: auto;
    font-size: small;
    background-color: gray;
    border-radius: .1rem;
    padding: .4rem;
    /* border-top-right-radius: -2rem; */
    /* width: ; */
  }
}


.second{
  grid-auto-flow: column;
}